# File ausiliari di LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.ilg
*.ind
*.idx
*~
._*
*.bcf
*.xml

# Output (decidi tu se vuoi tracciare il PDF finale)
# Se NON vuoi tracciare il PDF, decommenta la riga seguente:
# *.pdf 

# Cartelle di build (se usi latexmk o simili)
_build/
.build/
